{{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 4}}) }}
        {{ form_errors(form.description) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.deadline) }}
        {{ form_widget(form.deadline, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.deadline) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.status) }}
        {{ form_widget(form.status, {'attr': {'class': 'form-select'}}) }}
        {{ form_errors(form.status) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.parent) }}
        {{ form_widget(form.parent, {'attr': {'class': 'form-select'}}) }}
        {{ form_errors(form.parent) }}
    </div>

    <button class="btn btn-primary">{{ button_label|default('Zapisz') }}</button>
{{ form_end(form) }}
